<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dark_mode.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Academia Digital{% endblock %}</title>

</head>

<body>
    <header style="display: flex; align-items: center; justify-content: space-between; padding: 10px 0;">
        <div class="container" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <h1>Academia Digital</h1>
            <nav>
                <ul>
                    <li><a href="/cursos">Cursos</a></li>
                    <li><a href="/sobrenos">Sobre Nós</a></li>
                    <li><a href="/contato">Contato</a></li>
                    {% if session['usuario'] %}
                    <li><a href="/logout">Sair</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container pagina-inicial">
        <section class="boas-vindas">
            {% block content %}
            {% endblock %}
        </section>
    </main>
</body>

</html>