<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../static/tela.css">
    <link rel="stylesheet" href="../static/cor.css">
    <meta charset="UTF-8">
    <title>Final</title>
</head>
<body>
    <h2>Contatos</h2>
    <p>Luiz Magaton<br>
        Cell: +55 (11) 985243922<br> 
        E-mail: lgmagaton@gmail.com<br>
        <br>
        Carlos Storti<br>
        Cell: +55 (11) 959863490 <br>
        E-mail: carlos.hs.storti@gmail.com<br>
    </p>
    <a href="/">Voltar</a>
</body>
</html>